body {
  overflow-x: hidden;
  /* background: #fbfbfb !important; */
  background: linear-gradient(
    356deg,
    rgba(223, 241, 246, 1) 0%,
    rgba(251, 251, 251, 1) 83%
  );

  font-family: "Karla", sans-serif;
  /* font-family: "Montserrat", sans-serif; */

  margin: 0%;
  padding-bottom: 200px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul {
  list-style: none;
}
li{ list-style-position: inside;

}
.content {
  padding: 0 8%;
}

a,
li,
video,
.projet,
.play {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
h3 {
	font-weight: 400;
  margin-bottom: 20px;
	font-size: 1.4em;
  }
.row{
	margin-right:0!important;
	margin-left:0!important;
	}

h3 {
  font-weight: 400;
margin-bottom: 20px;
  font-size: 1.4em;
}
.fas {
	transition: all 200ms ease;
	font-size: 1.5em;
	padding: 12px 8px 0 0;
  }
  .fas:hover {
	transform: translateX(-6px);
  }
.bottom.content{
	padding-top:30px;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(3%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
	h3{
		font-size:1.2em;
	}
  body {
    font-size: 16px;
    margin: 0;
  }

  .top {
    width: 100% !important;
  }

  .content {
		padding: 0 6%;  
    margin: 0;
  }

  .bottom.content{
	padding-top:30px;
	padding-left:6%;
	padding-right:6%;
}
}
